.escondidoAXE{
    display: none;
}
.escondidoBLUES{
    display: none;
}
.escondidoCOUNTRY{
    display: none;
}
.escondidoFUNK{
    display: none;
}
.escondidoHIPHOP{
    display: none;
}
.escondidoGOSPEL{
    display: none;
}
.escondidoELETRONICA{
    display: none;
}
.escondidoFORRO{
    display: none;
}